
<div class="mobile-menu">
  <div class="mobile-top">
 <svg class="mobile-logo-icon" width="142" height="60">
                <use href="../public/icon.svg#logo"></use>
            </svg>
    <button type="button" class="modal-close-btn">
            <svg class="menu-close" width="9" height="9">
              <use href="../public/icon.svg#closer"></use>
            </svg>
          </button>
  </div>

  <nav class="mobile-nav">
      <ul class="mobile-nav-list">
        <li class="mobile-nav-item">
          <a class="mobile-nav-link" href="#home">Home</a>
        </li>
        <li class="mobile-nav-item">
          <a class="mobile-nav-link" href="#mission">Mission</a>
        </li>
        <li class="mobile-nav-item">
          <a class="mobile-nav-link" href="#benefits">Benefits</a>
        </li>
        <li class="mobile-nav-item">
          <a class="mobile-nav-link" href="#assortment">Assortment</a>
        </li>
        <li class="mobile-nav-item">
          <a class="mobile-nav-link" href="#feedbacks">Feedbacks</a>
        </li>
        <li class="mobile-nav-item">
          <a class="mobile-nav-link" href="#faq">FAQ</a>
        </li>
        <li class="mobile-nav-item">
          <a class="mobile-nav-link" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>

  <button class="order-btn">Order</button>
</div>


