<!-- <section class="contacts"> -->
<!-- <div class="container"> -->
<div class="contacts-left-side">
  <h3 class="contacts-subtitle">Contacts</h3>
  <h2 class="contacts-title">Get in Touch</h2>
  <p class="contacts-about">We'd love to hear from you anytime!</p>
  <address class="contacts-addr">
    <ul class="contacts-list">
      <li class="contacts-item">
        <svg class="icon-contacts-link" width="24" height="24">
          <use href="../img/svg/icon.svg"></use>
        </svg>
        <a href="mailto:hello@organicstore.com" class="contacts-link">
          hello@organicstore.com
        </a>
      </li>
      <li class="contacts-item">
        <svg class="icon-contacts-link" width="24" height="24">
          <use href="../img/svg/icon.svg"></use>
        </svg>
        <a href="tel:+1 (555) 329-1024" class="contacts-link">
          +1 (555) 329-1024
        </a>
      </li>
    </ul>
  </address>
  <!-- form -->
  <form class="contacts-form" name="contactForm">
    <div class="contacts-filds">
      <div class="contacts-fild">
        <label for="name" class="contacts-label">Name</label>
        <input
          class="contacts-input-name"
          type="text"
          id="name"
          name="contacts_name"
          placeholder="Sarah"
          pattern="(^[a-zA-Z\s\.]{5,64}$)"
          required
        />
        <p class="text-invalid-name">Error Text</p>
      </div>
      <div class="contacts-fild">
        <label for="email" class="contacts-label">Email</label>
        <input
          class="contacts-input-email"
          type="email"
          id="email"
          name="contacts_email"
          placeholder="hello@organic.com"
          pattern="(^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$)"
          required
        />
        <p class="text-invalid-email">Error Text</p>
      </div>
      <div class="contacts-textarea">
        <label class="feedback-label" for="message">Message </label>
        <textarea
          class="contacts-message"
          name="message"
          id="message"
          rows="10"
          maxlength="500"
          placeholder="Type your message..."
        ></textarea>
      </div>
      <button class="btn contacts-form-btn" type="submit">Submit</button>
    </div>
  </form>
</div>

<div class="contacts-right-side">
  <img
    srcset="../img/contacts.jpg 1x, ../img/contacts@2x.jpg 2x"
    src="../img/contacts.jpg"
    alt="foto people for contacts"
    class="contacts-img"
    width="100%"
    height="100%"
  />
</div>
<!-- </div> -->
<!-- </section> -->
