<div class="container-footer">
  <div class="footer-wrapper">
    <svg class="footer-icon" width="162" height="70">
      <use href="/public/icon.svg#logo"></use>
    </svg>
    <nav class="footer-nav">
      <ul class="footer-nav-list">
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#home">Home</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#mission">Mission</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#benefits">Benefits</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#assortment">Assortment</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#feedbacks">Feedbacks</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#faq">FAQ</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>

    <ul class="footer-social-links">
      <li class="footer-social-link">
        <a class="footer-social-link-icon" href="https://www.facebook.com/">
          <svg class="footer-social-icon" width="24" height="24">
            <use href="/public/icon.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-link">
        <a class="footer-social-link-icon" href="https://www.instagram.com/">
          <svg class="footer-social-icon" width="24" height="24">
            <use href="/public/icon.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-link">
        <a class="footer-social-link-icon" href="https://x.com/">
          <svg class="footer-social-icon" width="24" height="24">
            <use href="/public/icon.svg#twitter"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-link">
        <a class="footer-social-link-icon" href="https://www.linkedin.com/">
          <svg class="footer-social-icon" width="24" height="24">
            <use href="/public/icon.svg#linkedin"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-link">
        <a class="footer-social-link-icon" href="https://www.youtube.com/">
          <svg class="footer-social-icon" width="24" height="24">
            <use href="/public/icon.svg#youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <p class="text-copyright">© 2025 Organic Shop. All rights reserved.</p>
</div>