<div class="nav-con container">
  <nav class="nav">
    <a class="nav-logo-link" href="#">
      <svg class="nav-logo-icon" width="142" height="60">
        <use href="../public/icon.svg#icon-Company-Logo"></use>
      </svg>
    </a>
    <ul class="nav-list">
      <li class="nav-list-item">
        <a class="nav-list-link" href="#home">Home</a>
      </li>
      <li class="nav-list-item">
        <a class="nav-list-link" href="#mission">Mission</a>
      </li>
      <li class="nav-list-item">
        <a class="nav-list-link" href="#benefits">Benefits</a>
      </li>
      <li class="nav-list-item">
        <a class="nav-list-link" href="#assortment">Assortment</a>
      </li>
      <li class="nav-list-item">
        <a class="nav-list-link" href="#feedbacks">Feedbacks</a>
      </li>
      <li class="nav-list-item">
        <a class="nav-list-link" href="#faq">FAQ</a>
      </li>
      <li class="nav-list-item">
        <a class="nav-list-link" href="#contacts">Contacts</a>
      </li>
    </ul>
    <button class="btn nav-btn-order" type="button">Order</button>
    <div class="nav-burger">
      <svg class="nav-burger-icon" width="16" height="12">
        <use href="../public/icon.svg#burger-menu"></use>
      </svg>
    </div>
  </nav>
</div>
