.container-benefits {
    display: flex;
    flex-direction: column;
    /* flex-direction: row; */
    /* align-items: flex-start; */
    margin: 0 auto;
}
@media screen and (min-width: 1440px) {
    .container-benefits {
        flex-direction: row;
        gap: 24px;
        align-items: center;
        justify-content: flex-start;
    }
}

 .container-bf-title {
     display: flex;
     flex-direction: column;
     text-align: left;
     /* flex: 1; */
     min-width: 343px;
     /* align-items: center; */
 }

 @media screen and (min-width: 768px) {
     .container-bf-title {
         margin: 0 auto;
         /* text-align: left; */
     }
 }

 @media screen and (min-width: 1440px) {
     .container-bf-title {
         /* flex-direction: row;
         flex-wrap: wrap; */
         /* margin-left: auto; */
         /* flex: 1; */
         margin: 0;
         min-width: 644px;
        align-items: flex-start;
         /* align-items: flex-end; */
         /* text-align: left; */
         /* align-items: flex-start; */

     }
 }

.section-benefits {
    background-color: #1A5901;
    color: #FFFFFF;
    padding: 64px 0px;
}
@media screen and (min-width: 768px) {
    .section-benefits {
        padding: 64px 0px;
    }
}
@media screen and (min-width: 1440px) {
    .section-benefits {
        padding: 112px 0px;
    }
}

.benefits-img {
    display: block;
    width: 100%;
    /* height: auto; */
    height: 487px;
    object-fit: cover;
    max-width: 343px;
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .benefits-img {
        max-width: 704px;
    }
}
@media screen and (min-width: 1440px) {
    .benefits-img {
        min-width: 644px;
        height: auto;
    }
}

.benefits-item {
    max-width: 343px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 8px 0;
}
@media screen and (min-width: 768px) {
    .benefits-item {
        width: 344px;
    }
}
@media screen and (min-width: 1440px) {
    .benefits-item {
        max-width: 310px;
        width: calc((100% - 24px) / 2);
    }
}

.benefits-title {
    max-width: 343px;
    margin: 24px 0;
    /* text-align: left; */

    font-family: "Chivo", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.01em;
    /* width: 343px; */
}
@media screen and (min-width: 768px) {
    .benefits-title {
        max-width: 704px;
        /* align-items: flex-start; */
    }
}
@media screen and (min-width: 1440px) {
    .benefits-title {
        max-width: 644px;
        font-size: 48px;
    }
}

.benefits-description {
    max-width: 343px;
    margin: 0;

    font-family: "Public Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}
@media screen and (min-width: 768px) {
    .benefits-description {
        max-width: 704px;
    }
}
@media screen and (min-width: 1440px) {
    .benefits-description {
        max-width: 644px;
    }
}


.benefits-heading {
    font-family: "Chivo", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;

    margin: 0;
}
.benefits-text {
    font-family: "Public Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

    margin: 0;
}
.benefits-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 32px;
    padding-left: 0;
    list-style-type: none;
    margin-top: 32px;
    margin-bottom: 0;
}
@media screen and (min-width: 768px) {
    .benefits-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px 16px;
        align-items: baseline;
        /* max-width: 344px; */
    }
}
@media screen and (min-width: 1440px) {
    .benefits-list {
        gap: 24px;
        margin-top: 40px;
        justify-content: flex-start;
    }
}